body {
    background-color: #9ca1eb;
}
.link {
    text-decoration: none;
    .social-links .link
} 
    {
    color: teal;
        }  
        .social-links .link:hover,
        .social-links .link:focus {
            color: orange;
        }
                .link {
                    color: teal;
                }
        
                .link:hover {
                    color: tomato;
                }
          .title {
              font-family: 'Tangerine', cursive;
          }